@import "../variables";


.job{
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  width: 100%;
  justify-self: end;
  grid-gap: $indent-small;


  &__title {
    margin-bottom: $indent-small;
    font-weight: bolder;
    font-size: 26px;
  }

  &__subtitle{
    font-size: 18px;
  }
}