@import "../variables";


.job{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-gap: $indent-medium;
 
  @media (max-width: 880px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  &__title {
    margin-bottom: $indent-small;
    font-weight: bolder;
    font-size: 26px;
  }

  &__subtitle{
    margin-top: $indent-paragraph;

    @media (max-width: 680px) {
      margin-top: $indent-paragraph/2;
    }
  }
}