
@import "../variables";

.letters{
  margin-top: $indent-section;
  display: flex;
  width: 828px;
  flex-wrap: wrap;
  line-height: initial;

  @media (max-width:1550px) {
    margin-top: $indent-block;
    width: 640px;
  }
  @media (max-width:1140px) {
    margin-top: $indent-block;
    width: 711px;
  }
  @media (max-width: 880px) {
    margin-top: $indent-medium;
    width: 580px;
  }
  @media (max-width: 680px) {
    margin: $indent-small 0 $indent-block 0 ;
    width: 255px;
  }
}
.letter{
  color: #56A696;
  text-shadow: 6px 6px 16px #56a6967d;
  font-family: B612Mono;
  font-size: $size-heading;
  display: block;
  transition-duration: .5s;

  @media (max-width:1550px) {
    font-size: $size-heading-desc;
  }
  @media (max-width:1140px) {
    font-size: $size-heading-laptop;
  }
  @media (max-width: 880px) {
    font-size: $size-heading-tablet;
  }
  @media (max-width: 680px) {
    font-size: $size-heading-mobile;
  }
}