@import "../variables";

.title{
  margin-bottom: $indent-block;
  color: transparent;
  -webkit-text-stroke: 2px $base-accent;
  text-stroke: 2px $base-accent;
  text-shadow: 6px 6px 16px #56a6967d;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: $size-subtitle;
  font-family: B612Mono;
  
  @media (max-width: 880px) {
    margin-bottom: $indent-block / 2;
    text-align: left !important;
    font-size: $size-heading-mobile;
  }
  @media (max-width: 680px) {
    margin-bottom: $indent-small;
  }
}