@import './variables';
@import './normalize.css';

.app{
  display: grid;
  grid-gap: $indent-section;
  padding: $indent-medium 0;
  color: $base-color;
  font-size: 24px;
  line-height: 1.7;


  @media (max-width: 880px) {
    padding: $indent-small 0;
    grid-gap: $indent-medium;
  }

  @media (max-width: 680px) {
    font-size: 16px;
    grid-gap: $indent-block/2;
  }
}


