@import '../variables';

.skills{
  @include contain;

  &__block{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: $indent-paragraph;
    
    @media (max-width: 880px) {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
}