@import '../variables';

.skills{
  @include contain;

  &__block{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: $indent-paragraph;
    
    @media ($media-tablet) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}