@import "../variables";

.work{
  @include contain;

  &__text{
    max-width: 600px;
    line-height: 40px;
  }

  &__accent{
    color: $base-accent;
  }

  &__mookAp{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 64px;

    @media ((max-width: 880px)) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 680px) {
      grid-template-columns: 1fr ;
    }

    a {
      perspective: 800px;
      color: $base-accent;

    }

    img{
      transform: rotateY(0deg);
      transform-origin: right center;
      max-width: 100%;
      transition-duration: .5s;

    }
  }
}

.WorkMocKup{
  font-size: 18px;
}